.display {
  display: flex;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8%;
  font-size: 3rem;
  overflow: hidden;
}
