* {
  box-sizing: border-box;
  max-width: 100%;
}

.App {
  width: 465px;
  background-color: #b32b41;

  padding: 25px;

  border-radius: 15px;
  border: 2px solid grey;

  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 8px;
  grid-template:
    'logo . . .' 54px
    'display display display display' 90px
    'special-btns special-btns special-btns operators-btns' 90px
    'number-btns number-btns number-btns operators-btns' 90px
    'number-btns number-btns number-btns operators-btns' 90px
    'number-btns number-btns number-btns operators-btns' 90px
    'number-btns number-btns number-btns operators-btns' 90px;
}

.logo {
  grid-area: logo;
}

.display {
  grid-area: display;
}

.number-btns {
  grid-area: number-btns;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.operator-btns {
  grid-area: operators-btns;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.special-btns {
  grid-area: special-btns;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
